@import "compass";
@import "compass/layout.scss";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/nowrap";
@import "compass/css3/hyphenation";
@import "compass/css3/transition";
@import "compass/support";
@import "compass/css3/box-sizing";

$legacy-support-for-ie6 : false;
$legacy-support-for-ie7 : false;
$legacy-support-for-ie8 : false;
$link_color : #918F8F;
$gradient_low : #FFF;
$gradient_high : #f2f2f2;
$score_low : #fff;
$score_high : #D1D1D1;

.abs {
	position: absolute;
}


#newsView {
  padding: 0;
  margin: 0;
}

#newsView a {
	color : $link_color;
}

#newsView .news-item {
	position: relative;
	@include background-image(linear-gradient(color-stops($gradient_low  0%, $gradient_high 100%)));
	padding: 10px;
	@include border-radius(5px);
	border : 1px solid darken($gradient_high, 5%);
	margin-top: 5px;
	min-height: 100px;
}

#newsView .news-item h3 {

}

#newsView .news-item h3 a {

}

#newsView .news-item .score {
	width: 100px;
	height: 25px;
	right: 20px;
	top: 15px;
	text-align: center;
	padding: 15px;
	font-weight: bold;
	font-size: 130%;
	@include border-radius(45px);
	@extend .abs;
	@include background-image(linear-gradient(color-stops($score_low  0%, $score_high 100%)));
	@include box-shadow(rgba(0,0,0,0.5) 0px 0px 2px);
}

#newsView .news-item .posted {
	@extend .abs;
	font-weight: bold;
	padding: 10px;
	font-size: 100%;
	bottom: 5px;
	left: 0px;
}

#newsView .news-item .comments{

}

#newsView .news-item .preview{

}

#newsView .news-item .right-box {
	padding: 10px;
}

#newsView .news-item .right-box > div {
	float : left;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

.right-box {
	@extend .abs;
	right: 0;
	bottom: 0;
}

@media only screen
and (min-device-width : 700px)
and (max-device-width : 979px) {
	#newsView .news-item h3 {
		font-size: 25px;
		margin: 0;
		max-width: 90%;
	}
}

@media only screen and (max-width : 700px) {
	#newsView .news-item h3 {
		font-size: 100%;
		margin: 0;
		max-width: 80%;
		line-height: 20px;
	}

	#newsView .news-item .score {
		width: 50px;
		padding: 5px;
		font-weight: bold;
		font-size: 90%;
		@include border-radius(30px);
	}

	#newsView .news-item .posted, #newsView .news-item .right-box {
		font-size: 85%;
	}

}


