<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
      Hacker News Reader
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/app.css">
  <script src="js/libs/modernizr.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <header data-role="header" class="navbar nav navbar-inner">
      <h2>
          Hacker News Latest News Feed
      </h2>
    </header> <!-- /header -->

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div id="preview">
              <iframe id="frame" src="" width="100%" height="300"></iframe>
          </div>
          <div id="reader"></div>
        </div>
      </div>
    </div>

    <footer class="footer navbar navbar-fixed-bottom" data-role="footer">
        <p>
          Written by <a href="https://github.com/juanpicado" target="_blank">Juan Picado</a>
        </p>
    </footer><!-- /footer -->

  <!--
    <script type="text/javascript" src="js/app/init/require.min.js"></script>
  -->
  <script data-main="js/app/main" src="js/libs/require.js"></script>

  <!-- templates -->

  <script id="show-no-items-message-template" type="text/x-handlebars-template">
          <div class="no-items">
            <h4>
              <div class="alert alert-block">
                Search something in the box
              </div>
            </h4>
          </div>
  </script>

  <script id="news-item-view" type="text/x-handlebars-template">
          <h3>
              <a href="{{url}}" target="_blank">
                {{title}}
               </a>
          </h3>
          <div class="score">
            {{score}}
          </div>
          <div class="posted">
            posted by {{user}} {{time}}
          </div>
          <div class="right-box">
               <div class="comments">
                    {{comments}}
               </div>
               <div class="hide-comments">
                    Hide {{comments}}
               </div>
               <div class="preview">
                    See preview
               </div>
               <div class="hide-preview">
                    Hide preview
               </div>
          </div>
          <div class="append-detail"></div>
  </script>

  <script id="news-comments-view" type="text/x-handlebars-template">
          <div class="item-parent">
               comments Item view
          </div>
  </script>

  <script id="news-preview-view" type="text/x-handlebars-template">
          <a href="{{url}}" target="_blank">
              <h2>
                {{title}}
              </h2>
          </a>
          <div class="score">
            {{score}}
          </div>
          <div>
            posted by {{user}} {{time}}
          </div>
          <div class="right-box">
               <div class="comments" data-id="{{item_id}}">
                    {{comments}}
               </div>
               <div class="preview" data-id="{{item_id}}">
                    See preview
               </div>
          </div>
          <div class="append-detail"></div>
  </script>

  <script id="node-2-template" type="text/template">
    <li>
      <%= comment %>
    </li>
</script>



</body>
</html>